<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>مرحباً بك</title>
</head>
<body>
    <h1 style="color:red"> مرحبا بك معنا
    {0}</h1>
    <p>
        نشكر اهتمامك بمتجرنا ونتمنى أن تجد فيه كل ما تحتاجه من منتجات وخدمات عالية الجودة. نحن ملتزمون بتقديم تجربة تسوق مميزة ومريحة لعملائنا الكرام.
        ونرجو أن تحظى خدماتنا برضاك
    </p>
    <p>ننتظر زيارتك للموقع لإتمام معلوماتك و البدء باستخدامه 🙂 </p>
    <p>
        {1}
        هجرية
    </p>
</body>